

body {
  background-image: url('./img/frontSite.jpg');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: scroll;
}

h1, h2, p, ul, li {
  font-family: sans-serif;
}

ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}

ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content {
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}



.computerList {
	flex: 1 1 100%;
	align-self: flex-end;
	max-height: calc(92vh - 300px);
	overflow-y: scroll;
	-webkit-overflow-scrolling:touch;
}

.computerUpdateList {
	flex: 1 1 100%;
	align-self: flex-end;
	max-height: calc(110vh - 300px);
	overflow-y: scroll;
	-webkit-overflow-scrolling:touch;
}

.panierScrool {
  flex: 1 1 100%;
	align-self: flex-end;
	max-height: calc(100VH - 300px);
	overflow-y: scroll;
	-webkit-overflow-scrolling:touch;
}

.blogScrool {
  max-height: calc(78VH - 300px);
  overflow-y: scroll;
}

.Accountscroll {
  flex: 1 1 100%;
	align-self: flex-end;
	max-height: calc(105vh - 300px);
	overflow-y: scroll;
	-webkit-overflow-scrolling:touch;
}


.OrderScrool {
  flex: 1 1 100%;
	align-self: flex-end;
	max-height: calc(59VH - 300px);
	overflow-y: scroll;
	-webkit-overflow-scrolling:touch;
}

.GroupGestionScroll {
  flex: 1 1 100%;
	align-self: flex-end;
	max-height: calc(35VH - 300px);
	overflow-y: scroll;
	-webkit-overflow-scrolling:touch;
}


.AccountOrderScrool {
  flex: 1 1 100%;
	align-self: flex-end;
	max-height: calc(40VH - 300px);
	overflow-y: scroll;
	-webkit-overflow-scrolling:touch;
}

hr.message-inner-separator
{
    clear: both;
    margin-top: 10px;
    margin-bottom: 13px;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
